<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>




<div class="form-box">
  <h1>Contact Form</h1>
  <p> <a href="https://getbootstrap.com"></a>  <a href="https://www.formbucket.com"></a></p>
  <form action="https://api.formbucket.com/f/c2K3QTQ" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" id="name" type="text" name="Name" required="">
    </div>

    <div class="form-group">
      <label for="name">Surname</label>
      <input class="form-control" id="surname" type="text" name="Surname" >
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" id="email" type="email" name="Email" required="" placeholder="java.spring@gmail.com">
    </div>

    <div class="form-group">
      <label for="name">Subject</label>
      <input class="form-control" id="subject" type="text" name="subject"  required="">
    </div>

    <div class="form-group">
      <label for="message">Message</label>
      <textarea class="form-control" id="message" name="Message"></textarea>
    </div>

    <div class="form-group">
      <label for="Add-Message">Add-Message</label>
      <textarea class="form-control" id="Add-Message" name="Add-Message"></textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Submit" />
  </form>

</div>
</body>
<!--Google map-->
<div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
  <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
          style="border:0" allowfullscreen></iframe>
</div>

<!--Google Maps-->
</html>
